* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

body {
  font-size: 20px;
  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}

.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

button {
  appearance: none;
  border: none;
  background: none;
  cursor: pointer;
}

input {
  width: 100%;
  padding: 20px 30px;
  border-radius: 20px;
  line-height: 1;
}

.search {
  max-width: 100%;
  position: relative;
  margin: 40px 0;
  &__icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.add-task {
  max-width: 100%;
  position: relative;
}

.add-btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  &:hover {
    background: lightblue;
  }
}

.tasks {
  margin-top: 50px;
  width: 100%;
  min-height: 600px;
  position: relative;
  &__list {
    margin: 0 auto;
    width: 95%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: left;
    &-item {
      padding: 15px;
      font-weight: 600;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #aaa;
    }
  }
  &__button {
    display: flex;
    gap: 20px;
    &-complete {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      border: 3px solid #aaa;
      background: none;
    }
    &-delete {
      text-decoration: none;
    }
  }
  &__selector {
    width: 100%;
    display: flex;
    justify-content: space-between;
    &-item {
      background: #ddd;
      min-height: 50px;
      width: 30%;
      border-radius: 15px 15px 0 0;
      text-align: center;
      line-height: 50px;
      cursor: pointer;
      z-index: 2;
    }
  }
  &__wrapper {
    padding: 30px 0;
    position: absolute;
    min-height: 100%;
    width: 100%;
    background: #ddd;
    border-radius: 0 0px 15px 15px;
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.5);
  }
}

#all-tasks {
  z-index: 1;
}
#all-tasks-top {
  box-shadow: 0px 40px 30px -30px rgba(0, 0, 0, 0.5) inset;
}

.task--completed {
  text-decoration: line-through;
  color: #777;
  .tasks__button-complete {
    background: #aaa;
  }
}
